@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes moveToTopRight {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(150%, -150%);
  }
}

.animate-move-to-top-right {
  animation: moveToTopRight 1s ease-in-out forwards;
}

.flying-img {
  position: absolute;
  z-index: 9999;
  pointer-events: none; /* Prevent interaction with the flying image */
}




